#dashboard {
    display: flex;
    margin-left: 2em;
    justify-content: space-between;
    width: 100%;
}

#charts {
    display: flex;
    flex-direction: column;
    width: 75%;
}

#charts__bloc {
    display: flex;
    flex-direction: column;
}

#chart__line {
    display: grid;
    grid-template-columns: repeat(3, 44%);
    margin-top: 2em;
    width: 75%;
}